@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
 background:linear-gradient(20deg,#eb0ce0,
 #07eb5ed2);
}
.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  padding: 20px 20px 20px;
  box-shadow: 0 5px 10px rgba(100, 56, 56, 0.678);
}
.display {
  height: 80px;
  width: 100%;
  outline: none;
  border:none;
  border-radius: 15px;
  text-align: right;
  margin-bottom: 20px;
  font-size: 25px;
  color: #000e1a;
  pointer-events: none;
  background-color: antiquewhite;
}
.buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #e4c0c0;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: #05111b;
}